In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,2,3,np.nan, 6,8])

In [3]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101',periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.326913  0.266659  2.478956 -0.037719
2013-01-02  1.938535 -1.554756  1.083522  0.029425
2013-01-03 -2.711239 -0.845226 -0.311568 -0.257667
2013-01-04  1.615110 -0.803670 -0.912203 -0.655320
2013-01-05  2.170052 -1.153940  0.064952  2.031907
2013-01-06 -0.391965 -0.125318  0.856301  1.452121

In [8]:
df.types

AttributeError: 'DataFrame' object has no attribute 'types'

In [9]:
df.head()

                   A         B         C         D
2013-01-01  0.326913  0.266659  2.478956 -0.037719
2013-01-02  1.938535 -1.554756  1.083522  0.029425
2013-01-03 -2.711239 -0.845226 -0.311568 -0.257667
2013-01-04  1.615110 -0.803670 -0.912203 -0.655320
2013-01-05  2.170052 -1.153940  0.064952  2.031907

In [10]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.615110 -0.803670 -0.912203 -0.655320
2013-01-05  2.170052 -1.153940  0.064952  2.031907
2013-01-06 -0.391965 -0.125318  0.856301  1.452121

In [11]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.491234 -0.702709  0.543327  0.427124
std    1.856830  0.668304  1.201223  1.062150
min   -2.711239 -1.554756 -0.912203 -0.655320
25%   -0.212246 -1.076761 -0.217438 -0.202680
50%    0.971012 -0.824448  0.460626 -0.004147
75%    1.857678 -0.294906  1.026717  1.096447
max    2.170052  0.266659  2.478956  2.031907